<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

<context:component-scan base-package="com.jp.excercise.simplestock"></context:component-scan>
<context:annotation-config></context:annotation-config>


	<bean id="teaStock" class="com.jp.excercise.simplestock.representation.Stock">
		<property name="stockSymbol" value="TEA"></property>
		<property name="type" value="COMMON"></property>
		<property name="lastDividend" value="0"></property>
		<property name="fixedDividend" value="0"></property>
		<property name="parValue" value="100"></property>
	</bean>
	<bean id="popStock" class="com.jpmorgan.stocks.simple.model.Stock">
		<property name="stockSymbol" value="POP"></property>
		<property name="stockType" value="COMMON"></property>
		<property name="lastDividend" value="8"></property>
		<property name="fixedDividend" value="0"></property>
		<property name="parValue" value="100"></property>
	</bean>
	<bean id="aleStock" class="com.jpmorgan.stocks.simple.model.Stock">
		<property name="stockSymbol" value="ALE"></property>
		<property name="stockType" value="COMMON"></property>
		<property name="lastDividend" value="23"></property>
		<property name="fixedDividend" value="0"></property>
		<property name="parValue" value="60"></property>
	</bean>
	<bean id="ginStock" class="com.jpmorgan.stocks.simple.model.Stock">
		<property name="stockSymbol" value="GIN"></property>
		<property name="stockType" value="PREFERRED"></property>
		<property name="lastDividend" value="8"></property>
		<property name="fixedDividend" value="0.02"></property>
		<property name="parValue" value="100"></property>
	</bean>
	<bean id="joeStock" class="com.jpmorgan.stocks.simple.model.Stock">
		<property name="stockSymbol" value="JOE"></property>
		<property name="stockType" value="COMMON"></property>
		<property name="lastDividend" value="13"></property>
		<property name="fixedDividend" value="0"></property>
		<property name="parValue" value="250"></property>
	</bean>
	
	<bean name="service" class="com.jp.excercise.simplestock.service.SimpleStockServiceImpl"  scope="singleton">
		<property name="stocksDomainManager" ref="stocksDomainManager"/>
	</bean>
	
	<bean id="stocksDomainManager" class="com.jp.excercise.simplestock.domain.manager.StockDomainManager">
		<property name="stocks">
			<map>
				<entry key="TEA" value-ref="teaStock"></entry>
				<entry key="POP" value-ref="popStock"></entry>
				<entry key="ALE" value-ref="aleStock"></entry>
				<entry key="GIN" value-ref="ginStock"></entry>
				<entry key="JOE" value-ref="joeStock"></entry>
			</map>
		</property>
	</bean>

</beans>